@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", "serif";

  --color-primary: #54c392;
  --color-secondary: #b34315;
  --color-tertiary: #8e5d5d;
  --color-accent: #d2ff72;
  --color-background: #144d44;
  --color-text: #333333;
  --color-text-secondary: #666666;

  --color-jungle-green-50: #f0fdf9;
  --color-jungle-green-100: #ccfbec;
  --color-jungle-green-200: #9af5db;
  --color-jungle-green-300: #5fe9c5;
  --color-jungle-green-400: #2ed3ae;
  --color-jungle-green-500: #15b392;
  --color-jungle-green-600: #0e937a;
  --color-jungle-green-700: #107563;
  --color-jungle-green-800: #125d51;
  --color-jungle-green-900: #144d44;
  --color-jungle-green-950: #042f2a;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfbd4;
  color: #242424;
  line-height: 1.6;
  font-size: 16px;
  scroll-behavior: smooth;
}
